# Node modules across all subfolders
**/node_modules/

# Build and Expo output
**/.expo/
**/android/
**/build/
**/dist/

# Environment variables & secrets
**.env*
**/keys/

# Logs & OS files
*.log
.DS_Store